<template name="blockly">
  <div id="blocklyDiv" class="blockly-div"></div>
  <xml xmlns="https://developers.google.com/blockly/xml" id="workspace-blocks" style="display: none">
    <block type="variables_get">
      <field name="VAR">thunderstorm</field>
    </block>
    <block type="variables_get">
      <field name="VAR">drizzle</field>
    </block>
    <block type="variables_get">
      <field name="VAR">rain</field>
    </block>
    <block type="category_group">
      <field name ="VAR">category</field>
    </block>

  </xml>
</template>
