<template name="detectorInputOutput">
  <div>
    <form id="saveDetectorForm">
      <div class="input-group">
        <span class="input-group-btn">
          <button id="show-abstraction-prompt" class="btn btn-info" style="display: none;"><href>help me reflect about related cases</href></button>
        </span>
        <span id="abstraction-prompt">Why is "{{searchInputText}}" appropriate for the experience or activity?</span>
      </div>
      <div class="input-group">
        <input name="detectorname" type="text" class="form-control" placeholder="Describe your detector..." required="true">
        <span class="input-group-btn">
          {{#if Template.subscriptionsReady}}
            <button class="btn btn-default" id="checksave" type="submit">Save!</button>
          {{else}}
            <button class="btn btn-default" id="checksave" disabled type="submit">Connecting...</button>
          {{/if}}
        </span>
      </div>
    </form>
  </div>
  <textarea id="compiledBlockly" style="display: none;"></textarea>
</template>