<template name="viewExamplePlaces">
  <h4>View Example Places</h4>
  {{#if Template.subscriptionsReady}}
  <form id="viewExamplePlaces">
    {{> selectPlaceDropdown}}
    <div class="input-group">
      <input name="search" id="cityname" type="text" class="form-control" placeholder="Type a city name..."
        required="true">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-search"></span> Example Places
        </button>
      </span>
    </div>
    {{#if placeTagToAnalyze}}
    <div>{{lengthOfViewExamplePlaces}} results found</div>
    {{/if}}
  </form>
  <ul class="list-group view-example-places-list">
    {{#each situation in exampleSituations}}
    <li class="list-group-item">
      {{> situationItem (situationArgs situation)}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</template>

<template name="selectPlaceDropdown">
  <div class="form-group">
    <select name="selectPlaceKey" class="form-control" id="selectPlaceToAnalyze" form="viewExamplePlaces"
      required="true">
      <option default value="">Select a place tag...</option>
      {{#each placetag in placeTagList}}
      <option value="{{placetag}}">{{placetag}}</option>
      {{/each}}
    </select>
  </div>
</template>

<template name="simulateAndLabelConceptExpression">
  <h4>Assess Accuracy of Concept Variables</h4>
  {{#if Template.subscriptionsReady}}
  <form id="simulateConcepts">
    {{> selectConceptVariableDropdown}}
    <div class="input-group citystuff">
      <input name="search_sim" id="cityname_sim" type="text" class="form-control" placeholder="Type a city name..."
        required="true">
      <span class="input-group-btn">
        <button class="btn btn-warning" type="submit">
          Simulate Concept
        </button>
      </span>
    </div>
    {{#if hasConcept}}
    <h5><em>Do these places accurately represent "{{conceptVariableHumanReadable}}", thus good for
        "{{highLevelSituation}}"?</em></h5>
    {{/if}}
    <div id="length-sim-concept-list">{{lengthSimConceptList}} results found</div>
  </form>
  <ul class="list-group simulate-concept-expression-list">
    {{#each situation in detectedSituations}}
    <li class="list-group-item">
      {{> situationAnnotateItem (situationArgs situation)}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</template>

<template name="selectConceptVariableDropdown">
  <div class="form-group">
    <select name="selectConceptVariableKey" class="form-control" id="selectConceptVariableToAnalyze"
      form="conceptSimulate" required="true">
      <option default value="">Select a concept variable...</option>
      {{#each concept in conceptVariableList }}
      <option value="{{concept.features}}">{{concept.name}}</option>
      {{/each}}
    </select>
  </div>
</template>

<template name="repairShop">
  <h4>Repair Shop</h4>
  {{> exampleSituationIssues}}
</template>

<template name="exampleSituationIssues">
  <h5><em>Issue List</em></h5>
  {{#if Template.subscriptionsReady}}
  <ul class="list-group concept-issues-list">
    {{#each situation in falsePositives}}
    <li class="list-group-item false-positive">
      {{> situationIssueItem (situationArgs situation)}}
    </li>
    {{/each}}
  </ul>
  <ul class="list-group concept-issues-list">
    <p style="color: rgb(0, 0, 0); background-color: #ffffff; padding: 10px;">
    <em>When adding context feature with "OR" it increases recall.
      When adding context feature with "AND" it increases precision.
      <br>
      When sufacing confounding context features that need to be excluded, put it as "[Parks] and Not[---] and [Parks] and Not[---]" 
    <br>When adding context features, put it as "[Parks] and [---] or [Parks] and [---]"" </em></p>
    {{#each situation in truePositives }}
    {{> suggestContextFeatures situation = situation categories = situation.categories}}
    {{/each}}
    {{#each situation in falsePositives }}
    {{#if (hasSingleCategory situation)}}
    {{> promptForReflection situation = situation categories = situation.categories}}
    {{else}}
    {{> surfaceConfoundingContextFeatures situation = situation categories = situation.categories}}
    {{/if}}
    {{/each}}
  </ul>

  
  <h5><em>Resolved Cases</em></h5>
  {{#if Template.subscriptionsReady}}
  <ul class="list-group concept-issues-list">
    {{#each situation in trueNegatives}}
    <li class="list-group-item true-negative">
      {{> situationIssueItem (situationArgs situation)}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
  {{/if}}
 
</template>

<template name="situationItemImageNameCats">
  <div style="display: table-cell; padding-right: 5px;">
    <div class="place-photo-item">
      <img src={{situation.image_url}} width="90" height="90"
        style="object-fit: cover; border-radius: 4px; vertical-align: middle;" />
    </div>
  </div>
  <div style="display: table-cell;">
    <div class="place-name" style="width: 50ch">
      <h3 style="font-size: 16px; font-weight: 700;">
        <p><a href="{{situation.url}}" target="_blank">{{situation.name}}</a></p>
      </h3>
    </div>
    <div class="place-categories">
      {{#each category in (situationCategoriesAlias situation)}}
      {{#if baseline}}
      <span><a href="#">
          {{category}},
        </a></span>
      {{else}}
      <span><a class="context-feature-link" alias="{{category}}" href="#">
          {{category}},
        </a></span>
      {{/if}}
      {{/each}}
    </div>
  </div>
</template>

<template name="situationItem">
  <div style="display: table; table-layout: auto;">
    {{> situationItemImageNameCats situation=situation}}
  </div>
</template>

<template name="situationAnnotateItem">
  <div style="display: table; table-layout: auto;">
    {{> situationItemImageNameCats situation=situation}}
    <div style="display: table-cell; vertical-align: top; padding-top: 0;">
      {{> situationItemLabelEdit situation=situation}}
    </div>
  </div>
</template>

<template name="situationIssueItem">
  <div style="display: table; table-layout: auto;">
    {{> situationItemImageNameCats situation=situation}}
    <div style="display: table-cell; vertical-align: top; padding-top: 0;">
      {{> situationItemLabelView situation=situation}}
    </div>
    <div style="display: table-cell; vertical-align: top; padding-top: 0;">
      {{> situationItemPrediction situation=situation}}
    </div>
  </div>
</template>

<template name="situationItemLabelView">
  {{#if Template.subscriptionsReady}}
  <p>Label</p>
  <label>
    <button class="btn btn-small">{{situationLabel situation}}</button>
  </label>
  {{/if}}
</template>

<template name="situationItemLabelEdit">
  <p>Label</p>
  <div class="human-labeling">
    {{#if (hasLabel situation)}}
    {{#if (isLabelTrue situation)}}
    <label class="checkcontainer">
      <input type="radio" value="true" checked name="{{situation.alias}}">
      <span>Yes</span>
    </label>
    <label class="checkcontainer">
      <input type="radio" value="false" name="{{situation.alias}}">
      <span>No</span>
    </label>
    {{else}}
    <label class="checkcontainer">
      <input type="radio" value="true" name="{{situation.alias}}">
      <span>Yes</span>
    </label>
    <label class="checkcontainer">
      <input type="radio" value="false" checked name="{{situation.alias}}">
      <span>No</span>
    </label>
    {{/if}}
    {{else}}
    <label class="checkcontainer">
      <input type="radio" value="true" name="{{situation.alias}}">
      <span>Yes</span>
    </label>
    <label class="checkcontainer">
      <input type="radio" value="false" name="{{situation.alias}}">
      <span>No</span>
    </label>
    {{/if}}
  </div>
</template>

<template name="situationItemPrediction">
  {{#if Template.subscriptionsReady}}
  <p>Prediction</p>
  <label>
    <button class="btn btn-small">{{situationPrediction situation}}</button>
  </label>
  {{/if}}
</template>

<template name="situationListTest">
  <ul class="list-group">
    <li class="list-group-item">
      {{> situationItemTest}}
    </li>
    <li class="list-group-item">
      {{> situationItemTest}}
    </li>
  </ul>
</template>

<template name="situationItemTest">
  <div style="display: table; table-layout: auto;">
    <div style="display: table-cell; padding-right: 5px;">
      <div class="place-photo-item">
        <img src="https://s3-media3.fl.yelpcdn.com/bphoto/FtsOLmsPSp6H5DqvvEWZLg/o.jpg" width="90" height="90"
          style="border-radius: 4px; vertical-align: middle;" />
      </div>
    </div>
    <div style="display: table-cell;">
      <div class="place-name">
        <h3 style="font-size: 16px; font-weight: 700;">
          <p>1. <a href="#">Garfield Dog Park</a></p>
        </h3>
      </div>
      <div class="place-categories">
        <span><a href="#">Parks</a></span>
        <span><a href="#">Dog Parks</a></span>
      </div>
    </div>
  </div>
</template>

<template name="surfaceConfoundingContextFeatures">
  <li class="list-group-item surface-confounding-features multiple-category">
    <form action="/submit" method="post">
      <!-- Yes or No question -->
      <label for="yesNoQuestion">It appears that some {{ situation.categoriesKey }} are not {{ conceptVariableHumanReadable }}. 
        <br>One possible reason: {{ situation.categoriesKey }} that are for {{#each category in categories}} {{ category.alias }}, {{/each}} seems to not work. Exclude them?
        <br>Note that you should try to search {{situation.categoriesKey}} and {{#each category in categories}} {{category.alias}}, {{/each}} before removing.
      </label>
      <div>
        <input type="radio" id="yes" name="yesNoQuestion" value="yes">
        <label for="accept">accept</label>

        <input type="radio" id="no" name="yesNoQuestion" value="no">
        <label for="edit">edit</label>
      </div>
      <!-- Submit button -->
      <button type="submit">Submit</button>
    </form>
  </li>
</template>
<template name = "promptForReflection">
  <li class="list-group-item ">
    <form action="/submit" method="post">
      <!-- Text box for input -->
      <label for="userInput">Why do some {{#each category in categories}} {{category.alias}} (ex. {{/each}} like {{situation.name}}) not work?</label>
      <input type="text" id="userInput" name="userInput" placeholder="Type something...">
      <!-- Submit button -->
      <button type="submit">Submit</button>
    </form>
  </li>
</template>
<template name = "suggestContextFeatures">
  <li class="list-group-item ">
    <form action="/submit" method="post">
      <!-- Yes or No question -->
      <label for="yesNoQuestion">It appears that some {{situation.categoriesKey}} that are also 
        {{#each category in categories}} {{category.alias}}, {{/each}} work well.
        <br>Add  {{#each category in categories}} {{category.alias}}, {{/each}} as requirement?
        <br>Note that you should try to search {{situation.categoriesKey}} and {{#each category in categories}} {{category.alias}}, {{/each}} before adding.
      </label>
      <div>
        <input type="radio" id="yes" name="yesNoQuestion" value="yes">
        <label for="accept">accept</label>

        <input type="radio" id="no" name="yesNoQuestion" value="no">
        <label for="edit">edit</label>
      </div>

      <!-- Submit button -->
      <button type="submit">Submit</button>
    </form>
  </li>

 
</template>
<!-- <template name = "surfaceConfoundingContextFeatures">
  <li class="list-group-item surface-confounding-features multiple-category">
    <form action="/submit" method="post">
      
      Yes or No question
      <label for="yesNoQuestion">It appears that some {{situation.categoriesKey}} are not
        {{conceptVariableName}}.
        One possible reason: {{situation.categoriesKey}} that are for
        <p>[{{#each category in categories}} {{category.alias}}, {{/each}}] </p>  seems to not work.
        Exclude them?
      </label>
      <div>
        <input type="radio" id="yes" name="yesNoQuestion" value="yes">
        <label for="accept">accept</label>

        <input type="radio" id="no" name="yesNoQuestion" value="no">
        <label for="edit">edit</label>
      </div>

      Submit button
      <button type="submit">Submit</button>
    </form>
  </li>
</template> -->




