<template name="experienceDescription">
  <div>
    <label style="font-size: 15px">Describe the actual shared experience and activity. Essentially, how are people interacting across different contexts?</label>
    <textarea id="oce-description" style="height: 5vh; width: 100%; font-size: 15px; color: black"></textarea>
  </div>
  <div>
    {{#each verb in parsedVerbs}}
      {{verb}}
    {{/each}}
  </div>
  <div>
    <label style="font-size: 15px">Describe aspects of the interaction</label>
    <div class="input-group">
      <span class="input-group-addon" id="addon-actions">Specific actions users perform</span>
      <input type="text" class="form-control" id="input-actions" aria-describedby="addon-actions">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="addon-qualities">Qualities of objects and the environment</span>
      <input type="text" class="form-control" id="input-qualities" aria-describedby="addon-qualities">
    </div>
  </div>


  <!-- <form class="input-group">
    <label for="oce-description">
      What is the actual shared experience or activity?
    </label>
    <input name="oce-description" type="textarea" height="2" class="form-control">
    <label for="oce-actions">
      What are the <span style="color: lightcoral; font-weight: bold">specific actions</span> that a situation needs to afford?
    </label>
    <input name="oce-actions" type="textarea" height="2" class="form-control">
  </form> -->

</template>