<template name="interactionReflection">
  <!-- <div>
    <label style="font-size: 15px">Describe the actual shared experience and activity. Essentially, how are people interacting across different contexts?</label>
    <textarea id="oce-description" style="height: 5vh; width: 100%; font-size: 15px; color: black"></textarea>
  </div>
  <div>
    {{#each verb in parsedVerbs}}
      {{verb}}
    {{/each}}
  </div> -->

  <div>
    <h4>Distill the Core Interaction Concepts</h4>
    <!-- Distilling actions -->
    <div class="story-form">
      <span id="addon-actions">The actions a user engages in are</span>
      <div class="story-form-input">
        <input type="text" class="blue-line-border h-4-xx-large-size-field" id="input-actions" aria-describedby="addon-actions">
      </div>
    </div>
    <!-- Distilling the functional schema, the qualities of the setting that supports these actions -->
    <div class="story-form">
      <span id="addon-qualities">The aspects of a setting that supports the action(s) include</span>
      <div class="story-form-input">
        <input type="text" class="blue-line-border h-4-xx-large-size-field" id="input-qualities" aria-describedby="addon-qualities">
      </div>
    </div>
  </div>
  <div>
    <h4>Reimagine the Interaction</h4>
    <div class="story-form">
      <span>What are actions that are similar in spirit to <span class="label label-primary">{{coreActions}}</span>?</span>
      <div class="story-form-input">
        <input type="text" class="blue-line-border h-4-xx-large-size-field" id="expand-actions">
      </div>
    </div>
    <div class="story-form">
      <span>What are other settings that support <span class="label label-primary">{{coreActions}}</span> or <span class="label label-primary">{{similarActions}}</span>?</span>
      <div class="story-form-input">
        <input type="text" class="blue-line-border h-4-xx-large-size-field" id="expand-action-settings">
      </div>
    </div>
    <div class="story-form">
      <span>What are other settings that have <span class="label label-primary">{{ coreQualities }}</span>?</span>
      <div class="story-form-input">
        <input type="text" class="blue-line-border h-4-xx-large-size-field" id="expand-quality-settings">
      </div>
    </div>
  </div>

  <!-- <form class="input-group">
    <label for="oce-description">
      What is the actual shared experience or activity?
    </label>
    <input name="oce-description" type="textarea" height="2" class="form-control">
    <label for="oce-actions">
      What are the <span style="color: lightcoral; font-weight: bold">specific actions</span> that a situation needs to afford?
    </label>
    <input name="oce-actions" type="textarea" height="2" class="form-control">
  </form> -->

</template>