<template name="legoCompositionBlock">
  <a class="chip xchip"
     sublegoId="{{_id}}"
     queryId="{{../_id}}">
    <span class="sq"><a href="{{_id}}">{{query}}</a></span>
    <span class="x"></span>
  </a>
</template>

<template name="newBlockDef">
  <div class="chip xchip">
    <!-- <span class="sq"><input name="query" id="newBlock" type="text" value="{{what}}" placeholder="{{whatPlaceholder}}"></span> -->
    <span class="sq"><input name="query" id="newBlock" type="text" placeholder="New Situation Helper"></span>
    <span><button id="addNewBlock" class="btn btn-sm">add</button></span>
  </div>
</template>