<template name="naturalLanguageInput">
  <form class="main form">
    <div class="input-group">
      <span class="input-group-addon" for="queryString">A situation where a person is</span>
      <div class="controls">
        <input name="queryString" id="queryString" type="text" class="form-control" placeholder="describe affordance requirements for participants" aria-describedby="basic-addon1">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">{{submitButtonText}}</button>
  </form>
</template>