<template name="placeCategoryBuilder">
  <div class="panel-group col-sm-6 post">
    <h4>Construct Place Legos</h4>
    <div class="panel panel-default ">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#place-collapse">Places {{query}}</a>
        </h4>
      </div>
      <div id="place-collapse" class="panel-collapse collapse">
        {{#each cat in (includedCategories categories excluded_categories)}}
        <!-- https://codepen.io/Mestika/pen/XJNzEM -->
        <a href="#" class="list-group-item">{{cat}}<button type="button" class="remove-category btn btn-danger btn-sm pull-right">x</button></a>
        {{/each}}
      </div>
    </div>
  </div>
</template>