<template name="weatherBlockBuilder">
  <div class="panel-group post">
    <h4>Construct from Weather Legos</h4>
    <div class="col-sm-6">
    <div class="panel panel-default ">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#weather-playground-collapse">Raw weather features to define "{{query}}"</a>
        </h4>
      </div>
      <form id="weather-playground-collapse" class="panel-collapse collapse">
        <button type="submit" class="btn btn-primary">Save Weather Rules</button>
        {{#each rawFeatures}}
          {{> rawFeatureDefinition}}
        {{/each}}
      </form>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#weather-previous-collapse">Previous Affordances built using weather</a>
        </h4>
      </div>
      <div id="weather-previous-collapse" class="panel-collapse collapse">
        {{#each existingWeatherBlocks}}
          {{> legoItemSelector}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
</template>