<template name="workspace">
  <div class="wrapper">

    <!--<div class="box header">-->
      <!--<div>Todo List</div>-->
      <!--<nav aria-label="Page navigation">-->
        <!--<ul class="pagination">-->
          <!--<li>-->
            <!--<a href="#" aria-label="Previous">-->
              <!--<span aria-hidden="true">&laquo;</span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li><a href="#discover">Discover</a></li>-->
          <!--<li><a href="#construct">Construct</a></li>-->
          <!--<li><a href="#checksave">Check and Save</a></li>-->
          <!--<li><a href="#test-sim">Test in Simulation</a></li>-->
          <!--<li>-->
            <!--<a href="#" aria-label="Next">-->
              <!--<span aria-hidden="true">&raquo;</span>-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</nav>-->
    <!--</div>-->

    <div id="discover" class="box sidebar">
      {{> featureDiscovery}}
    </div>

    <div id="construct" class="box topcontent">
      {{> detectorInputOutput}}
      {{> blockly}}
    </div>

    <div id="simulate" class="box bottomcontent">
      <div class="view-example-places">
        {{> viewExamplePlaces}}
      </div>
      <div class="simulate-concept-expression">
        {{> simulateAndLabelConceptExpression}}
      </div>
      <div class="concept-issues">
        {{> exampleSituationIssues}}
      </div>
    </div>
  </div>
</template>
