/* */
/* Existing */
/* */
.grid-block, .main, .post, .comments li, .comment-form {
	background: #fff;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15)
}

body {
	background: #eee;
	color: #666666
}

#main {
	position: relative
}

.page {
	position: absolute;
	top: 0px;
	width: 100%
}

.navbar {
	margin-bottom: 10px
}

.navbar .navbar-inner {
	border-radius: 0px 0px 3px 3px
}

#spinner {
	height: 300px
}

.post {
	*zoom: 1;
	position: relative;
	opacity: 1
}

.post:before, .post:after {
	content: "";
	display: table
}

.post:after {
	clear: both
}

.post.invisible {
	opacity: 0
}

.post.instant {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none
}

.post.animate {
	-webkit-transition: all 300ms 0ms;
	-moz-transition: all 300ms 0ms ease-in;
	-o-transition: all 300ms 0ms ease-in;
	transition: all 300ms 0ms ease-in
}

.post .upvote {
	display: block;
	margin: 7px 12px 0 0;
	float: left
}

.post .post-content {
	float: left
}

.post .post-content h3 {
	margin: 0;
	line-height: 1.4;
	font-size: 18px
}

.post .post-content h3 a {
	display: inline-block;
	margin-right: 5px
}

.post .post-content h3 span {
	font-weight: normal;
	font-size: 14px;
	display: inline-block;
	color: #aaaaaa
}

.post .post-content p {
	margin: 0
}

.post .discuss {
	display: block;
	float: right;
	margin-top: 7px
}

.comments {
	list-style-type: none;
	margin: 0
}

.comments li h4 {
	font-size: 16px;
	margin: 0
}

.comments li h4 .date {
	font-size: 12px;
	font-weight: normal
}

.comments li h4 a {
	font-size: 12px
}

.comments li p:last-child {
	margin-bottom: 0
}

.dropdown-menu span {
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #bbb;
	white-space: nowrap
}

.load-more {
	display: block;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.05);
	text-align: center;
	height: 60px;
	line-height: 60px;
	margin-bottom: 10px
}

.load-more:hover {
	text-decoration: none;
	background: rgba(0, 0, 0, 0.1)
}

.posts .spinner-container {
	position: relative;
	height: 100px
}

.jumbotron {
	text-align: center
}

.jumbotron h2 {
	font-size: 60px;
	font-weight: 100
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 0
	}

	10% {
		opacity: 1
	}

	90% {
		opacity: 1
	}

	100% {
		opacity: 0
	}

}

@keyframes fadeOut {
	0% {
		opacity: 0
	}

	10% {
		opacity: 1
	}

	90% {
		opacity: 1
	}

	100% {
		opacity: 0
	}

}

.errors {
	position: fixed;
	z-index: 10000;
	padding: 10px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	pointer-events: none
}

.alert {
	animation: fadeOut 2700ms ease-in 0s 1 forwards;
	-webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
	-moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
	width: 250px;
	float: right;
	clear: both;
	margin-bottom: 5px;
	pointer-events: auto
}

/* */
/* affinder add-ons */
/* */

/* TODO: grid styles */
/*.editor-parent {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-area: "situation_ideas" "situation_ideas"
						 "block_selectors" "block_definition";
}

wordbrainstorm {
	grid-name: "situation_ideas";
}

blockselector {
	grid-name: "block_selectors";
}

blockdefiner {
	grid-name: "block_definitions";
}
*/

.remove-category .btn-panel-item {
	padding: 0px 6px;
}

/* requirement: lego composition stays on top, is always visible */
#lego-composition {
  top: 0px;
  position: sticky;
  background-color: #fff;
  z-index: 10000;
  border-radius: 3px;
}

/* google images search blocks style, verbatim */
.chip.xchip{
	background-color: #fff;
}
.chip.xchip span.sq {
	color: #666;
	margin-right: 7px;
}
.chip {
	border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	box-sizing: border-box;
	display: inline-block;
	height: 49px;
	margin-right: 8px;
	overflow: hidden;
	padding: 0 16px;
}
.chip span.sq {
	display: inline-block;
	font-size: 14;
	font-family: 'Roboto',arial,sans-serif;
	font-weight: 300;
	line-height: 49px
	text-decoration: none;
	white-space: nowrap;
	position: relative;
	padding-top: 15px;
}
.chip.xchip .x {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAABEUlEQVR4AeWWt3UCQRBA8aYpKIKrQD18TCwTbgnkVIHp4i4UIeHlNxp5zTsNdjLmZ2v+etO4w6DNmMSWglIp2JI0pX2ZZMiCA1JHUxcMz9Vk7BF89mSnJU1ekDN4pnlM02KFnMkKX+X0xuPZnxu5kOz/lbJTvKNCLFSaaqd9UBctTJElLR6orEZTWixN2ry+/Q6mN633VKNSzUday/TqQNuKxmiyrWRUtZQfRlaUEF/la5RkRVvEV/kaZWNFBeKrfI2SW1GJ+Cpfo5TxotihhU122PJHbciAIxJwaAOukVcGMRfbJP6qtUHz8svfVz2fpXmiGfFATs5/sufukz1ncOknYkRiQ06p5GxImtJu3F+8AXd0lPf62kHsAAAAAElFTkSuQmCC);
	background-size: 18px 18px;
	display: inline-block;
	height: 18px;
	vertical-align: text-bottom;
	width: 18px;
}
/* terminal blocks */
.chip.xchip.yelp {
	border-style: solid;
	/* yelpy-red, with some transparency */
	border-color: #d32323cc;
	background-color: #d32323cc;
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/* loading spinner */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* progress bar for yelp tfidf weightings */
.progress-limit-label {
	font-size: 0.75em;
}

