<template name="monitorVisitations">
  <h4>Visitation Model</h4>
  <form>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          For a group of
        </span>
        <input min="5" max="30" value="10" id="numUsersInCity" name="numUsersInCity" type="number" class="form-control"/>
        <span class="input-group-addon" for="numUsersInCity">
          people
        </span>
      </div>
      <div class="input-group">
        <span class="input-group-addon" for="cityForSimulation">from the city of</span>
        <select id="cityForSimulation" name="cityForSimulation" class="form-control">
          <option>Chicago</option>
          <option>Los Angeles</option>
          <option>Phoenix</option>
        </select>
      </div>
      <h5>The chance that at least one user</h5>
      <div class="input-group">
        <span class="input-group-addon">participates every</span>
        <input id="daysPeriod" name="daysPeriod" type="number" min="1" max="7" value="3" class="form-control"/>
        <span class="input-group-addon" for="daysPeriod">days</span>
      </div>
      <h5>is equal to...</h5>
      <h5 style="text-decoration-color: blueviolet;">
        {{#if probabilityOfVisitation}}
          {{probabilityOfVisitation}} probability
        {{else}}
          (Not computed: add to your definition first)
        {{/if}}
      </h5>
    </div>

    {{#if displayPersonBased}}
    <div>
      <h6>...Or sample person-based models</h6>
      <div class="input-group">
        <span class="input-group-addon" for="personLimit"># of people</span>
        <input id="personLimit" name="personLimit" type="number" min="5" max="30" value="10" class="form-control"/>
        <span class="input-group-btn">
          <button id="samplePersonModel" class="btn btn-primary" type="button">Sample Data!</button>
        </span>
      </div>
      <div class="input-group">
        <span class="input-group-addon" for="uidForSimulation">Focus on user</span>
        <select id="uidForSimulation" name="uidForSimulation" class="form-control">
          {{#each userid in sampledUserIds}}
            <option>{{userid}}</option>
          {{/each}}
        </select>
      </div>
      {{ detectorLikelihood uidForSimulation }}
    </div>
    {{/if}}
  </form>
</template>