<template name="monitorVisitations">
  <h4>Visitation Monitor</h4>
  <form class="story-form">
    <div class="story-content">
      <span>For a group of</span>
      <div class="story-form-input">
        <input
          class="blue-line-border h-4-light-age"
          id="numUsersInCity"
          name="numUsersInCity"
          min="0"
          value="30"
          type="number"/>
      </div>
      <span>people, the probability that a user</span>
      <span>participates over the next</span>
      <div class="story-form-input">
        <input
          class="blue-line-border h-4-light-age"
          id="daysPeriod"
          name="daysPeriod"
          type="number"
          min="1"
          max="7"
          value="3"/>
      </div>
      <span>days is...</span>
      <!-- old label to show the probability value -->
      <!-- <h4>
        <span class="label label-primary">
        {{#if probabilityOfVisitation}}
          {{probabilityOfVisitation}} probability
        {{else}}
          (Not computed: add to your definition first)
        {{/if}}
        </span>
      </h4> -->
    </div>
  </form>
  <table>
    {{#each cityChoice in cityChoices}}
      <tr class="{{progressContainerClass cityChoice}}">
        <td class="city-label">{{cityChoice}}</td>
        <td style="width: 100%">
          <div class="progress">
            <!-- if we actually have history -->
            {{#if (oldProbability cityChoice) }}
              <!-- if we have regressed, we have to show a red bar denoting how much we've regressed -->
              {{#if (progressHasRegressed cityChoice) }}
              <!-- {{#if (progressHasRegressed (probabilityOfVisitation cityChoice) (oldProbability cityChoice) ) }} -->
                <!-- a blue bar that is the current progress -->
                <div class="progress-bar {{progressBarActiveStyling cityChoice}}" role="progressbar"
                  style="min-width: 3em; width: {{ progressBarWidth (probabilityOfVisitation cityChoice) }}%;">
                  {{probabilityOfVisitation cityChoice}}%
                </div>
                <!-- a red bar that shows the regression -->
                <div class="progress-bar progress-bar-danger {{progressBarActiveStyling cityChoice}}" role="progressbar"
                  style="width: {{ progressBarWidth (regressionDifference (probabilityOfVisitation cityChoice) (oldProbability cityChoice)) }}%;">
                  <!-- {{regressionDifference (probabilityOfVisitation cityChoice) (oldProbability cityChoice)}} -->
                </div>
              <!-- else, if current progress is improved on the history, let do a stack bar computation -->
              {{else}}
                <!-- a blue bar that shows the old progress -->
                <div class="progress-bar {{progressBarActiveStyling cityChoice}}" role="progressbar"
                  style="min-width: 3em; width: {{ progressBarWidth (oldProbability cityChoice) }}%;">
                  {{oldProbability cityChoice}}%
                </div>
                <!-- a green bar that shows the improved progress -->
                <div class="progress-bar progress-bar-success {{progressBarActiveStyling cityChoice}}" role="progressbar"
                  style="min-width: 3em; width: {{ progressBarWidth (improvedDifference (probabilityOfVisitation cityChoice) (oldProbability cityChoice)) }}%;">
                  {{improvedDifference (probabilityOfVisitation cityChoice) (oldProbability cityChoice)}}%
                </div>
              {{/if}}
            <!-- we dont have history -->
            {{else}}
              <!-- regular blue bars -->
              <div class="progress-bar {{progressBarActiveStyling cityChoice}}" role="progressbar"
                style="min-width: 3em; width: {{ progressBarWidth (probabilityOfVisitation cityChoice) }}%;">
              {{probabilityOfVisitation cityChoice}}%
              </div>
            {{/if}}
          </div>
        </td>
      </tr>
    {{/each}}
  </table>
  <div class="story-content">
    <span>Set Goal (%):</span>
    <input class="blue-line-border h-4-light-age" id="probMaxReferenceLimit" min="5" max="100" value="25" type="number"/>
    <button type="button" class="btn btn-primary" id="saveProbabilityHistory">Set new reference baseline for your progress</button>
  </div>
</template>

<template name="personBasedMonitor">
  <div>
    <h6>...Or sample person-based models</h6>
    <div class="input-group">
      <span class="input-group-addon" for="personLimit"># of people</span>
      <input id="personLimit" name="personLimit" type="number" min="5" max="30" value="10" class="form-control"/>
      <span class="input-group-btn">
        <button id="samplePersonModel" class="btn btn-primary" type="button">Sample Data!</button>
      </span>
    </div>
    <div class="input-group">
      <span class="input-group-addon" for="uidForSimulation">Focus on user</span>
      <select id="uidForSimulation" name="uidForSimulation" class="form-control">
        {{#each userid in sampledUserIds}}
          <option>{{userid}}</option>
        {{/each}}
      </select>
    </div>
    {{ detectorLikelihood uidForSimulation }}
  </div>
</template>